<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This is a Home-Page</h1>
    <div class="main">
        <% users.forEach(user=>{%>
        <div class="box">
            <span><b>name </b><div><%= user.name %></div></span>
            <span><b>email </b><div><%= user.email %></div></span>
            <span><b>age </b><div><%= user.age %></div></span>
            <span><b>city </b><div><%= user.city %></div></span>
            <span><b>profession </b><div><%= user.profession %></div></span>
        </div>
        <% })%>
    </div>

    <h2>Click here to fill the form</h2>
    <br>
    <a href="/Form">Click here</a>
</body>
</html>